---
import logo from "../../images/logo.svg";
import navList from "../../json/navList.json";
---

<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img width="90" height="40" src={logo} alt="logo" />
      </a>
    </div>
    <nav>
      <ul>
        {
          navList.map((list) => (
            <li>
              <a href={list.href}>{list.name}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
    height: 70px;
    background: var(--color-primary);
  }

  .header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .header .logo {
    height: 35px;
    vertical-align: middle;
  }
  .header nav ul {
    display: flex;
  }
  .header nav ul li {
    padding: 0 10px;
  }
  .header nav ul li a {
    color: #fff;
  }
</style>
